extends _template

block content
  .section.section.content
    section.section.triangle__wrapper
        .traingle__left
          block traingle-left
        .traingle__right
          block traingle-right
    block content-header
    section.section.columns
      block columns 
        .columns__left
          block column-left
        .columns__right
          block column-right

    block dialog