extends _template

block content
  section.section.content
    section.section.triangle__wrapper
      .traingle__left
        block traingle-left
      .traingle__right
        block traingle-right
    
    block page-content

    block dialog