.about {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  max-width: $content-width/2;
}

.about__block {
  flex: 1 1 100%;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-flow: column nowrap;
}

.about_2col {
  @include fullhd {
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
}
.about__block_column-left {
  @include fullhd {
    margin: 0;
  }
}
.about__block_column-right {
  @include fullhd {
    margin: 0 20px 0 0;
    padding-top: 20px;
  }
}

.about__block_title {
  max-width: 45%;
  align-self: center;
  @include fullhd {
    max-width: 30%;
  }
  @include pc {
    max-width: 50%;
  }
  @include tablets {
    max-width: 40%;
    padding-top: 50px;
  }
  @include phones {
    max-width: 50%;
    padding-top: 30px;
  }
}

.about__block_centred-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow: hidden;
}

.about__img {
  display: block;
  height: auto;
  max-width: 100%;
  align-self: center;
  margin-bottom: 40px;
}

.about__block_right {
  margin-left: 40px;
  margin-right: 5px; 
}

.about__block_right , .about__block {
  @include tablets {
    margin: 0 20%;
  }
  @include phones {
    margin: 0 2%;
  }
}