.arrow {
  // bottom: 70px;
  // @include centered(x);
  z-index: 999;
}

.arrow__icon {
  height: 18px;
  width: 25px;
  fill: rgba(255, 255, 255, 1);
  fill-opacity: 0.7;
  transition: all 0.4s;

  &:hover {
    fill-opacity: 1;
  }
}