.articles__date {
  margin-bottom: 25px;
}

.articles__title {
 margin-bottom: 20px; 
}

.article__content {
  padding-top: 60px;
  padding-bottom: 68px;
  border-bottom: 5px solid rgba(55, 62, 66, 0.07);

  &:last-child {
    border-bottom: none;

  }
}
