.blog {
  padding: 0 100px 147px 100px;
  max-width: $content-width*0.7;
  @include tablets {
    padding: 0 2%;
  }
  @include phones {
    padding: 0 2%;
  }

}

.blog__menu {
  padding: 60px 5px 0 0; 
  max-width: $content-width*0.3;
}
.blog__menu_sticky {
  position: fixed;
  top: 0px;
}
