.blog-menu {

  max-width: 70%;
}

.blog-menu__item {
  text-align: right;
}


.blog-menu__link {
  text-decoration: none;
  color: $main-font-color;
  font-size: 16px;
  
  display: block;
  
  border-right: 3px solid transparent; 
  padding: 15px 5px;
  padding-right: 20px;

  transition: all 0.1s;
  transition: border 0.2s;
  transition-delay: 0.05s;
  &:hover {
    @extend .blog-menu__link_selected;
  }

  &:visited {
    color: $main-font-color;
  }

  @include tablets {
    color: #fff;
  border: none;
  &:hover {
    color: #fff;
    border: none;
  }
   &:visited {
    color: #fff;
  }
  }
  @include phones {
   color: #fff;
  border: none;
  &:hover {
    color: #fff;
    border: none;
  }
   &:visited {
    color: #fff;
  }
  }
}

.blog-menu__link_selected {
  color: rgba(0, 191, 165, 1);
  font-weight: 500;
  border-right: 3px solid rgba(0, 191, 165, 1); 
  text-decoration: none;
  &:visited {
    color: rgba(0, 191, 165, 1);
  }
  @include tablets {
    color: #fff;
  border: none;
  &:hover {
    color: #fff;
    border: none;
  }
   &:visited {
    color: #fff;
  }
  }
  @include phones {
   color: #fff;
  border: none;
  &:hover {
    color: #fff;
    border: none;
  }
   &:visited {
    color: #fff;
  }
  }
}

.block-menu__link_mobile {
  color: #fff;
  border: none;
  &:hover {
    color: #fff;
    border: none;
  }
   &:visited {
    color: #fff;
  }
}
