.blog-menu__item {
  text-align: right;
}

.blog-menu__link_selected {
  color: rgba(0, 191, 165, 1);
  font-weight: 500;
  border-right: 3px solid rgba(0, 191, 165, 1); 
}

.blog-menu__link {
  text-decoration: none;
  color: rgba(69, 90, 100, 1);
  font-size: 16px;
  
  display: block;
  
  border-right: 3px solid transparent; 
  padding: 15px 0;
  padding-right: 20px;

  transition: all 0.1s;
  transition: border 0.2s;
  transition-delay: 0.05s;
  &:hover {
    @extend .blog-menu__link_selected;
  }
}

.blog-menu__link_selected {
  color: rgba(0, 191, 165, 1);
  font-weight: 500;
  border-right: 3px solid rgba(0, 191, 165, 1); 
}
