.button__link {
  padding: 14px 29px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;

  &:hover {
    color: $theme-color1;
    background: #fff;
  }
   &:focus {
    outline-color: $theme-color2;
  }
}

.button__link_active {
  color: $theme-color1;
  background: #fff;
}