.columns {
  display: flex;
  flex-direction: row;
}

.columns__left, .columns__right {
  width: 50%;
  position: relative;
}

.columns__left {
  background: #efeee9;
}

.columns__right {
  background: #eeebdf;
}

.columns__left_blog {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  background: #fff;
}

.columns__right_blog {
  width: 70%;
  background: #fff;
}