.contactme {
  width: 380px;
  display: flex;
  flex-flow: column nowrap;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  position: relative;

  @include tablets {
     max-width: 348px;
  }
   @include phones {
     max-width: 300px;
  }
}

.contactme__title {
  display: flex;
  justify-content: center;
  padding: 40px 20px 0;
  z-index: 2;
}

.contactme__content {
  z-index: 2;
}

.contactsme__arrow {
  @include centered('x');
  bottom: 215px;
}
