.flipper {
  perspective: 1000px;
}

.flipper_flip {
    transform: rotateY(180deg);
  }

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper__side {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


.flipper__side_front {
  z-index: 10;
  transform: rotateY(0deg);
}

.flipper__side_back {
  transform: rotateY(180deg);
}