.footer {
  background: rgba(55, 62, 66, 0.85);
  display: flex;
  flex-flow: row wrap;
  

  &_index {
  background: transparent;
  }

   @include tablets {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
   @include phones {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
}
.footer__section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  
  &:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  @include tablets {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
  }
   @include phones {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.footer__item {
  padding: 5px 10px;
  flex: 1 1 50%;

  display: flex;

  &-right {
    justify-content: flex-end;
  }
  &-menu, &-socials {
    flex-basis: 0;
  }
  &-menu {
    flex-grow: 3;
  }
  
  @include tablets {
    flex: 1 1 50%;
    text-align: center;
  }
  @include phones {
    flex: 1 1 50%;
  }

}

