.form {
  display: flex;
  flex-flow: column nowrap;
}

.form__data {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  padding-top: 0;
}

.form__input {
  display: block;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid rgba(139, 141, 141, .1);
  padding: 15px 20px;
  margin-bottom: 20px;
  resize: none;
  
  
  &:last-child {
    margin-bottom: 0;
  }

  @include placeholder {
    color: #556266;
    opacity: .5;
  }

  &:focus {
    outline: none;
    border-radius: 5px;
    border: 2px solid $theme-color1;
  }
}

.form__buttons {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 0 0 5px 5px;
}

.form__button {
  flex: 0 1 50%;
  cursor: pointer;
  border: none;
  border-right: 2px solid rgba(222, 227, 231, .5);
  font-size: 16px;
  &:last-child {
    border-right: none;
  }

  transition: all 0.3;
  text-align: center;
  padding: 15px 0;
  font-weight: 500;
  color: #fff;
  background: $theme-color1;

  &:hover {
    background: rgba(0, 191, 166, 0.3);
  }

  &:first-child {
    border-bottom-left-radius: 5px;
  }
  &:last-child {
    border-bottom-right-radius: 5px;
  }

  &:focus {
    outline-color: $theme-color1;
  }
}

.form__section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.form__section_row {
  width: 100%;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
}
.form__icon-container {
  height: 52px;
  width: 52px;
  background-color: #f0ede9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  &+ .form__input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.form__icon {
  width: 50%;
  height: 50%;
  fill: $main-font-color;
  opacity: 0.4;

}

.form__label {
  display: flex;
  flex-flow: row nowrap;
  &:before {
    content: "";
    display: block;
    margin-right: 10px;
    width: 21px;
    height: 20px;
    border: 1px solid rgba(139, 141, 141, .9);
    background: #fff;
  }
}

.form__input_checkbox, .form__input_radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__label_checkbox {
  &:before {
    border-radius: 2px;
  }
}

.form__label_radio {
  padding-right: 35px;
  &:last-child {
    padding-right: 0;
  }
  &:before {
    border-radius: 50%;
    width: 18px;
    height: 18px;
  }
}

.form__input_checkbox {
  &:checked {
    &+ .form__label_checkbox {
      color: $theme-color1;
      &:before {
        background: url("/assets/img/check-symbol.png");
        background-position: center center;
        background-size: 70%;
        background-repeat: no-repeat;
        background-color: $theme-color1;
        border: 1px solid $theme-color1;
      }
    }
  }
}

.form__input_radio{
  &:checked {
    &+ .form__label_radio {
      position: relative;
      color: $theme-color1;
      &:after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        left: 6px;
        top: 6px;
        background: $theme-color1;
      }
    }
  }
}