.hero__bg {
  position: absolute;
  background: url('/assets/img/portfolio-header.png') center/contain no-repeat;
  max-width: 1200px;
  width: 100%;
  height: 50%;
  z-index: 1;
}

.hero__arrow {
  position: absolute;
  bottom: 100px;
}