.menu__list {
  display: flex;
  flex-flow: row wrap;
}

.menu__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
  transition: all 0.3s;
  
  &:visited {
    color: #ffffff;
  }
  &:hover {
    background: rgba(55, 62, 66, 1);
    color: $theme-color1;
    text-decoration: none;
  }
  @include tablets {
    padding: 10px;
  }
  @include phones {
    padding: 5px;
  }
}
.menu__text {
  @include phones {
    font-size: 13px;
  }
}
.menu__link_current {
  color: $theme-color2;
  &:visited {
    color: $theme-color2;
  }
}

.menu__list_welcome {
  
  border-radius: 0 0 5px 5px;
}

.menu__item_welcome{
  border-right: 2px solid rgba(255, 255, 255, .6);
  flex: 1;
  background: rgba(0, 191, 165, 0.9);
  
  &:first-child {
    flex: 1.3;
    border-radius: 0 0 0 5px;
  }
  &:last-child {
    border-right: none;
    border-radius: 0 0 5px 0;
  }

  &:hover {
    background: rgba(0, 191, 166, 0.6);
  }
}

.menu__link_welcome {
  transition: all 0.3;
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
  //background: rgba(0, 191, 165, 0.9);

  &:hover {
    background: rgba(0, 191, 166, 0);
    color: #fff;

    &:first-child {
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-bottom-right-radius: 5px;
    }
  }
}
