.menu__list {
  display: flex;
  flex-flow: row wrap;
}

.menu__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
  transition: all 0.1s;
  
  &:hover {
    background: rgba(55, 62, 66, 1);
    color: #61dac9;
  }
}

.menu__link_current {
  color: #61dac9;
  background: rgba(55, 62, 66, .7);
}

.menu__list_welcome {
  background: rgba(0, 191, 165, 0.9);
  border-radius: 0 0 5px 5px;
}

.menu__item_welcome{
  border-right: 2px solid rgba(222, 227, 231, .5);
  flex: 1;
  
  &:first-child {
    flex: 1.3;
  }
  &:last-child {
    border-right: none;
  }
}

.menu__link_welcome {
  transition: all 0.3;
  text-align: center;
  padding: 10px 0;
  font-weight: 500;

  &:hover {
    background: rgba(0, 150, 136, 0.9);
    color: #fff;

    &:first-child {
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-bottom-right-radius: 5px;
    }
  }
}
