.menu__list {
  display: flex;
  flex-flow: row wrap;
}

.menu__item {

}

.menu__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 20px;
  transition: all 0.1s;
  
  &:hover {
    background: rgba(55, 62, 66, 1);
    color: #61dac9;
    //transition-property: background, color;
  }
}

.menu__link_current {
  color: #61dac9;
  background: rgba(55, 62, 66, .7);
}

.menu_welcome {
  border-radius: 0 0 5px 5px;
}

.menu__list_welcome {
  background: rgba(87, 218, 201, 0.9);
}
.menu__item_welcome{
  border-right: 2px solid rgba(255, 255, 255, .8);

  &:last-child {
    border-right:2px solid transparent;
  }
  &:first-child {
    margin-left: 0;
    
  }

  &:hover {
    background: rgba(44, 158, 141, 0.4);
    color: #fff;
    transition-property: background, color;
    transition-duration: 0.1s;
  }
}

.menu__link_welcome {
  padding: 10px 31px;
  
  &:hover {
    background: rgba(44, 158, 141, 0.4);
    color: #fff;
    transition-property: background, color;
    transition-duration: 0.1s;
  }
  
}