.modal{
  overflow: hidden;
  //position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal__header, .modal__footer {
  flex: 0 0 5%;
}

.modal__center {
  //@include centered();
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__header, .modal__footer {
  flex: 0 1 20%;
}

.modal_hero{
  background: url('/assets/img/portfolio.jpg');
  height: 620px;
}

.modal_welcome{
  background: url('/assets/img/portfolio.jpg');
  height: 100vh;
  width: 100%;
}

.modal_map {
  background: url('/assets/img/map.png');
  background-position: top right;
  background-repeat: no-repeat;
  height: 974px;
}

.modal_contactme {
  background: url('/assets/img/reviews.jpg');
  //background-position: top right;
  background-repeat: no-repeat;
  height: 1285px;
}