.modal {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}


.modal__center {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $content-width;
}

.modal__header, .modal__footer {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  max-width: $content-width;
}

.modal__header {
  justify-content: space-between;
}

.modal__footer {
  justify-content: center;
}


.modal_map {
  height: 974px;
  @include phones {
    justify-content: flex-start;
  }
}

.modal__header_map, .modal__center_map {
  @include phones {
    flex: 0 1 auto;
  }
}

.modal_contactme {
  background: url('/assets/img/reviews.png');
  background-repeat: no-repeat;
  background-position: 0 200px;
  background-size: cover; 
  min-height: 1285px;
}

.modal__header_contactme,.modal__center_contactme, .modal__footer_contactme {
  flex: 1 1 auto;
}
.modal__footer_contactme {
  height: 100px;
  align-items: center;
}

.modal_hero {
  height: 620px;
  position: relative;
  @include tablets {
     height: 505px;
  }
  @include phones {
     height: 555px;
  }
}


.modal__header_hero {
  padding: 28px 30px 0;
  @include tablets {
    padding: 24px 24px 0;
  }
  @include phones {
    padding: 10px 10px 0;
  }

}


.modal_welcome {
  min-height: 100vh;
  width: 100%;
}

.modal__header_welcome {
  justify-content: flex-end;
  padding: 28px 30px 0;
  @include tablets {
    padding: 0;
    padding-top: 10px;
  }
  @include phones {
    padding: 0;
    padding-top: 10px;
  }
}

.modal__footer_welcome {
  align-items: flex-end;
  padding-bottom: 40px;
}

.modal__header_welcome, .modal__footer_welcome {
  @include tablets {
    justify-content: center;
    flex-basis: initial;
  }
  @include phones {
    justify-content: center;
    flex-basis: initial;
  }
}