.modal{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}


.modal__center {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__header, .modal__footer {
  flex: 0 1 20%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

.modal__header {
  justify-content: space-between;
}

.modal__footer {
  justify-content: center;
}

.modal_hero{
  background: url('/assets/img/portfolio.jpg');
  height: 620px;
}

.modal_welcome{
  background: url('/assets/img/portfolio.jpg');
  height: 100vh;
  width: 100%;
}

.modal_map {
  background: url('/assets/img/map.png');
  background-position: top right;
  background-repeat: no-repeat;
  height: 974px;
}

.modal_contactme {
  background: url('/assets/img/reviews.jpg');
  //background-position: top right;
  background-repeat: no-repeat;
  height: 1285px;
}

.modal__header_welcome {
  justify-content: flex-end;
}

.modal__footer_welcome {
  align-items: flex-end;
  padding-bottom: 40px;
}