.paragraph-title {
  position: relative;
  padding: 40px;
}
.paragraph-title__text {
  color: $main-font-color;
  font-size: 35px;
  @include bernier();
  display: inline-block;
  @include centered(both);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

  $margin : 90px;

  &:after, &:before {
    content: "";
    display: block;
    @include centered(y);
    background: rgba($main-font-color, .2);
    width: 22px;
    height: 5px;
  }

  &:after {
    right: $margin;
  }

  &:before {
    left: $margin;
  }
}