.parallax {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

@for $i from 1 through 10 {
  .layer__#{$i} { 
    position: absolute;
    background-image: url('/assets/img/parallax/layer_'+$i+'@0,5x.png');
    
    @include imac {
      background-image: url('/assets/img/parallax/layer_'+$i+'.png');
    }
    @include pc {
      background-image: url('/assets/img/parallax/layer_'+$i+'@0,5x.png');
    }
    @include tablets {
      background-image: url('/assets/img/parallax/layer_'+$i+'@0,3x.png');
    }
    @include phones {
      background-image: url('/assets/img/parallax/layer_'+$i+'@0,25x.png');
    }
    width: 110%;
    height: 110%;
    background-size: cover;
    background-repeat: no-repeat; 
    left: -5%;
    bottom: -5%;
    z-index: -$i;
    transition: all 0.1s;
    // border: 10px dashed aquamarine;
  }
}


// SCROLL

.parallax-scroll_hero {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  height: 100%;

  background: url('/assets/img/portfolio.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -100;
}