.reviews {
  display: flex;
  flex-flow: column nowrap;
}

.reviews__list {
  display: flex;
  flex: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.reviews__item {
  width: 40%;
  margin-left:38px;
}

.reviews__title {
  padding: 70px;
  text-align: center;
}

.reviews__icon {
  width: 34px;
  height: 28px;
  margin-bottom:30px;
  display: block;
  fill: #ccc;
}

.reviews__text {
  margin-bottom: 28px;
}

.reviews__author {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.reviews__photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid aquamarine;
}

.reviews__info {
  padding-left: 25px;
}