.skills__item {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 40px;

  @include tablets {
    align-items: center;
  }
  @include phones {
    align-items: center;
  }
}
 
.skills__title {
  //margin-bottom: 20px;
}