.socials {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  z-index: 10;
}

.socials__item {
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  //padding: 5px;
  display: block;


}

.socials__icon {
  height: 25px;
  width: 25px;
  fill: rgba(255, 255, 255, 0.5);
  transition: all .3s;
  &:hover {
    fill: rgba(255, 255, 255, 1);
  }
}

.socials__link_footer {
  &:hover {
    .socials__icon_footer {
      display: none;
    }
    .socials__icon_footer-hover {
      display: block;
      fill: #fff;
    }
  }
}

.socials__icon_footer, .socials__icon_footer-hover {
  fill: #fff;
  stroke: none;

  @include tablets {
    height: 35px;
    width: 35px;
  }
  @include phones {
    height: 35px;
    width: 35px;
  }
}

.socials__icon_footer-hover {
  display: none;
}

.socials__item_footer {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon_welcome {
  fill: rgba(0, 191, 165, 0.5);

  &:hover {
    fill: rgba(0, 191, 165, 1);
  }
}