.socials {
  display: flex;
  flex-flow: row wrap;
}

.socials__item {
  margin-right: 16px;
  
  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  padding: 5px;
  display: block;


}

.socials__icon {
  height: 25px;
  width: 25px;
  fill: rgba(255, 255, 255, 0.5);
  transition: all .8s;
  &:hover {
    fill: rgba(255, 255, 255, 1);
  }
}


.socials__icon_footer {
  fill: none;
  stroke: #fff;
  &:hover {
    fill: #fff;
    stroke: none;
  }
}

.socials__link_footer {
  padding: 5px;
}

.socials__icon_welcome {
  fill: #00bfa5;
}