.text {
  color: $main-font-color;
  font-size: 16px;
  text-align: start;
  @include roboto();
  @include tablets {
  font-size: 14px;
  }
  @include phones {
    font-size: 14px;
  }
}

//GB, BEM :(
.text p {
  margin-bottom: 22px;
}

.text_fz-14 {
  font-size: 14px;
  @include phones {
    font-size: 13px;
  }
}

.text_fz-29 {
  font-size: 29px;
  @include phones {
    font-size: 21px;
  }
}

.text_fz-28 {
  font-size: 28px;
  @include phones {
    font-size: 21px;
  }
}

.text_fz-35 {
  font-size: 35px;
  @include phones {
    font-size: 21px;
  }
}

.text_fw-lighter {
  font-weight: lighter;
}

.text_fw-bold {
  font-weight: bold;
}

.text_fw-medium {
  font-weight: 400;
}

.text_ta-right {
  text-align: right;
}

.text_ta-center {
  text-align: center;
}

.text_color-white {
  color: rgba(255, 255, 255, 1);
}

.text_color-theme {
  color: $theme-color1;
}

.text_color-input {
  color: #556266;
}

.text_color-tech {
  color: #20b5a1;
}

.text_opacity-50 {
  opacity: .5;
}

.text_opacity-70 {
  opacity: .7;
}

.text_opacity-80 {
  opacity: .8;
}
.text_review {
  @include tablets {
    font-size: 14px;
  }
  @include phones {
    font-size: 14px;
  }
}

.text_footer{
  @include tablets {
    text-align: center;
  }
  @include phones {
    font-size: 13px;
    text-align: center;
  }
}