$padding-main: 70px;
$padding-sub: 40px;

@mixin title_dashed($fz:35px, $padding:$padding-sub) {
  $dWidth: 22px;
  $dHeight: 5px;
  $margin: 20px;

  &:after, &:before {
    content: "";
    background: rgba($main-font-color, .2);
    width: $dWidth;
    height: $dHeight;
    display: inline-block;
    position: absolute;
    top: $padding + $fz*$line-height/2;
    transform: translateY(-$dHeight/2);
  }
  &:before {
    // left: -$dWidth -$margin;
    margin-left: -($margin+$dWidth);
  }
  &:after {
    //right: -$margin;
    margin-left: $margin;
  }
}

.title {
  @include bernier();
  color: $main-font-color;
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.title_bg-about {
  background-image: url('/assets/img/about-header.png');
}

.title_bg-works {
  background-image: url('/assets/img/works-header.png');
}

.title_bg-blog {
  background-image: url('/assets/img/blog-header.png');
  position: absolute;
  width: 100%;
  top: -$padding-main;
}

.title__text_sub {
  $fz: 35px;
  font-size: $fz;
  @include title_dashed($fz, 0);
  padding-bottom: $padding-sub;
}

.title__text_main {
  $fz: 63px;
  font-size: $fz;
  @include title_dashed($fz, $padding-main);
  padding: $padding-main 0;
  color: $font-color2;
}

.title__text_dashed-false {
  &:after, &:before {
    display: none;
  }
}

.title__text_color-white {
  color: #fff;
}

