.triangle {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 100%;

  &_fill {

    &-white {
      fill: #efeee9;
    }

    &-beige {
      fill: #eeebdf;
    }
    &-work {
      fill: #faf8f0;
    }
    &-blog {
      fill: #fff;
    }
  }

  @include tablets {
    height: 70px;
  }
  @include phones {
    height: 30px;
  }
}

.triangle__wrapper {
  display: flex;
  flex-flow: row nowrap;
}
.traingle__left, .traingle__right {
  flex: 0 0 50%;
  position: relative;
}