.user {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-width: 50%;
  z-index: 2;
}

.user_welcome {
  position: static;
}

.user__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.user__photo {
  width: 147px;
  height: 147px;
  border-radius: 50%;
  margin-bottom: 25px;
  overflow: hidden;
}

.user__photo-img {
  display: block;
  width: 100%;
}

.user__title {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.user__subtitle {
  margin-bottom: 40px;
}

.user__info_welcome {
  background: rgba(252, 252, 252, 0.85);
  border-radius: 5px 5px 0 0;
  width: 380px;
  padding-top: 40px;

  @include tablets {
    width: 348px;
  }
  @include phones {
    width: 300px;
  }
}

.user__title_blog {
  flex: 1 0 90px;
  display: flex;
  justify-content: center;
}