.works__wrapper {
  display: flex;
  flex-flow: column nowrap;
  background: #faf8f0;
  align-items: center;
}
.works {
  display: flex;
  flex-flow: column wrap;
  height: 750px;
  width: 100%; 
  max-width: $content-width;

   @include tablets {
    height: auto;
  }
   @include phones {
    height: auto;
  }
}

.works__description, .works__mainimage, .works__controls {
  width: 50%;
  @include tablets {
     width: 100%;
  }
   @include phones {
     width: 100%;
  }
}

.works__description {
  background: #f0efe9;
  flex: 0 1 100%;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 0 10%;
  @include tablets {
     padding: 10%;
     order: 2;
  }
   @include phones {
     padding: 30px 1%;
     order: 2;
  }
}

.works__mainimage {
  height: 525px;
  flex: 0 1 70%;
  background: #efebe0;
  position: relative;
  overflow: hidden;
  

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  @include tablets {
     order: 1;
  }
   @include phones {
     order: 1;
     height: 255px;
  }
}

.works__mainimage-item {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.works__title {
  display: flex;
  justify-content: center;
}

.works__title_main {
  background: #faf8f0;
}

.works__tech {
  padding: 25px 0;
  border-top: 1px solid rgba(0, 191, 165, 1);
  border-bottom:1px solid rgba(0, 191, 165, 1);
  margin-bottom: 40px;
  text-align: center;
  align-self: stretch;
  @include tablets {
     padding: 20px 0;
  }
   @include phones {
     padding: 10px 0;
  }
}


.works__link {
  background: rgba(0, 191, 165, 1);
  padding: 12px 18px;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;
  &:visited {
    color: #fff;
  }
  &:hover {
    background: $theme-color2;
    text-decoration: none;
  }

}

.works__icon {
  margin-right: 10px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.works__image {
  max-width: 100%;
  height: 100%;
}

.works__controls {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;

  height: 225px;
  flex: 0 1 30%;
  background: #b5b4b0;
  @include tablets {
     order: 3;
  }
   @include phones {
     order: 3;
     height: 90px;
  }
}

.works__control-item {
  flex: 0 1 50%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.works__control {
  position: absolute;
  left: -9999px;
  height: 100%;
  width: 100%;
  
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  // opacity: 0.5;
}

.works__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  &:hover {
    animation: workpulse 2s linear infinite;
    &:after {
     background-color: rgba(0, 0, 0, 0.1);
    }
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  svg {
    width: 30px;
    height: 30px;
    fill-opacity: 1;
    fill: #fff;
  }
}

.works__title-item, .works__tech-item, .works__href-item, .works__mainimage-item {
  position: absolute;
  left: -9999px;
  
}
@keyframes workpulse {
  0% {transform: scale(1);}
  20% {transform: scale(1.1);}
  60% {transform: scale(1.25);}
  80% {transform: scale(1.3);}
  100% {transform: scale(1.5);}
}


$duration-typing: 300ms;
$delay-unit: 100ms;

.works__tech-item, .title__inner {
    span {
      font-style: normal;
    }
    &.works__text_animate {
      > span > i {
        animation: typewriter $duration-typing forwards;
      }
    }
    > span > i {
      font-style: normal;
      opacity: 0;
      @for $i from 1 through 30 {
        &:nth-of-type(#{$i}) {
          animation-delay: $i*$delay-unit;
        }
      }
    }
}
$images_animation_duration: 0.3s;
.works__mainimage_animate {
  animation-name: typewriter;
  animation-duration: $images_animation_duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}


.works_animation-slideup {
  animation-name: slideUp;
  animation-duration: $images_animation_duration;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.works_animation-slideupbottom {
  animation-name: slideUpFromBottom;
  animation-duration: $images_animation_duration;
  animation-delay: $images_animation_duration/2;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.works_animation-slidedown {
  animation-name: slideDown;
  animation-duration: $images_animation_duration;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.works_animation-slidedowntop {
  animation-name: slideDownFromTop;
  animation-duration: $images_animation_duration;
  animation-delay: $images_animation_duration/2;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}


.works__current {
  position: relative;
  left: 0;
}

@keyframes mainimage {
  0%  { top:100%; }
  100% { top:0;}
}

@keyframes slideUp {
  0%  { top: 0; left:0; }
  100% { top: -100%; left: 0; }
}
@keyframes slideUpFromBottom {
  0%  { top: 100%;left:0; }
  100% { top: 0;left:0; }
}

@keyframes slideDown {
  0%  { top: 0;left:0; }
  100% { top: 100%;left:0; }
}

@keyframes slideDownFromTop {
  0%  { top: -100%;left:0; }
  100% { top: 0;left:0; }
}

@keyframes typewriter {
  0% { opacity: 0;}
  100% { opacity: 1; }
}