.works {
  display: flex;
  flex-flow: column wrap;
  height: 750px; 

   @include tablets {
    height: auto;
  }
   @include phones {
    height: auto;
  }
}

.works__description, .works__mainimage, .works__controls {
  width: 50%;
  @include tablets {
     width: 100%;
  }
   @include phones {
     width: 100%;
  }
}

.works__description {
  background: #f0efe9;
  flex: 0 1 100%;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 0 10%;
  @include tablets {
     padding: 10%;
     order: 2;
  }
   @include phones {
     padding: 30px 1%;
     order: 2;
  }
}

.works__mainimage {
  height: 525px;
  flex: 0 1 70%;
  background: #efebe0;
  

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  @include tablets {
     order: 1;
  }
   @include phones {
     order: 1;
     height: 255px;
  }
}

.works__title {
  display: flex;
  justify-content: center;
}

.works__title_main {
  background: #faf8f0;
}

.works__tech {
  padding: 25px 0;
  border-top: 1px solid rgba(0, 191, 165, 1);
  border-bottom:1px solid rgba(0, 191, 165, 1);
  margin-bottom: 40px;
  text-align: center;
  align-self: stretch;
}


.works__link {
  background: rgba(0, 191, 165, 1);
  padding: 12px 18px;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  transition: all 0.4s;

  &:hover {
    background: $theme-color2;
    font-weight: 500;
  }
}

.works__icon {
  margin-right: 10px;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.works__image {
  max-width: 100%;
}

.works__controls {
  display: flex;
  flex-flow: row nowrap;

  height: 225px;
  flex: 0 1 30%;
  background: #b5b4b0;
  @include tablets {
     order: 3;
  }
   @include phones {
     order: 3;
     height: 90px;
  }
}

.works__control {
  flex: 0 1 50%;
  position: relative;
  height: 100%;
  
  &:after {
    content: "";
    background: url('/assets/img/1.png') center/contain no-repeat; /* Добавляем фон */
    background-size: contain; /* Масштабируем фон */
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute; 
  }
}

.works__arrow {
  @include centered();
}