//--------------@PLACEHOLDER (input)--------------//
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

//--------------@MEDIA--------------//
@mixin fullhd() {
  @media screen and (min-width: 1800px) {
    @content;
  }
}

@mixin pc() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin tablets() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin phones() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

//--------------@OTHER--------------//
@mixin centered($axis: 'both') {
    position: absolute;

    @if $axis == 'both' {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @if $axis == 'x' {
      left: 50%;
      transform: translateX(-50%);
    }

    @if $axis == 'y' {
      top: 50%;
      transform: translateY(-50%);
    }
}



%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}