-var blogs = [{"header":"Установка сборки","href":"install-build","date":"25 декабрь 2016","content":"<h2>Исходные файлы сайта-портфолио</h2><blockquote><p>Сборка работает на gulp версии 4.0.</p></blockquote><h4>Автор: Вишенков Кирилл</h4><h4>Для начала работы</h4><ol><li><code>clone this repo</code></li><li><code>cd path/to/...</code></li><li><code>npm install gulpjs/gulp-cli -g</code></li></ol><blockquote><p>Установка последней версии Gulp CLI tools глобально (подробнее - <a href='https://github.com/gulpjs/gulp/blob/4.0/docs/getting-started.md'>GitHub</a> )</p></blockquote><ol start='4'><li><code>npm install</code></li><li><code>run gulp</code></li></ol>"},{"header":"Markdown example","href":"markdown-example","date":"26 декабрь 2016","content":"<h2>Structured documents</h2><p>Sometimes it’s useful to have different levels of headings to structure your documents. Start lines with a <code>#</code> to create headings. Multiple <code>##</code> in a row denote smaller heading sizes.</p><h3>This is a third-tier heading</h3><p>You can use one <code>#</code> all the way up to <code>######</code> six for different heading sizes.</p><p>If you’d like to quote someone, use the &gt; character before the line:</p><blockquote><p>Coffee. The finest organic suspension ever devised… I beat the Borg with it.</p><ul><li>Captain Janeway</li></ul></blockquote>"},{"header":"Установка gulp-CLI","href":"install-gulp-cli","date":"25 января 2017","content":"<h2>Getting Started</h2><h4>1. Install gulp globally:</h4><p><strong>If you have previously installed a version of gulp globally, please run <code>npm rm --global gulp</code>to make sure your old version doesn’t collide with gulp-cli.</strong></p><pre class='hljs language-sh'><code>$ npm install --global gulp-cli</code></pre><h4>2. Install gulp in your project devDependencies:</h4><pre class='hljs language-sh'><code>$ npm install --save-dev gulp</code></pre><h4>3. Create a <code>gulpfile.js</code> at the root of your project:</h4><pre class='hljs language-js'><code><span class='hljs-keyword'>var</span> gulp = <span class='hljs-built_in'>require</span>(<span class='hljs-string'>'gulp'</span>);\ngulp.task(<span class='hljs-string'>'default'</span>, defaultTask);\n<span class='hljs-function'><span class='hljs-keyword'>function</span> <span class='hljs-title'>defaultTask</span>(<span class='hljs-params'>done</span>) </span>\n{<span class='hljs-comment'>\n// place code for your default task here</span>\ndone();\n}</code></pre><h4>4. Run gulp:</h4><pre class='hljs language-sh'><code>$ gulp</code></pre><p>The default task will run and do nothing.</p><p>To run individual tasks, use <code>gulp &lt;task&gt; &lt;othertask&gt;</code>.</p><h2>Where do I go now?</h2><p>You have an empty gulpfile and everything is installed. How do you REALLY get started? Check out the <a href='recipes'>recipes</a> and the <a href='README.md#articles'>list of articles</a> for more information.</p><h2>.src, .watch, .dest, .parallel, .series, CLI args - How do I use these things?</h2><p>For API specific documentation you can check out the <a href='API.md'>documentation for that</a>.</p><h2>Available Plugins</h2><p>The gulp community is growing, with new plugins being added daily. See the <a href='http://gulpjs.com/plugins/'>main website</a> for a complete list.</p>"}]
section.section.columns
  aside.columns__left.columns__left_blog
    .blog__menu
      .blog-menu
        ul.blog-menu__list
          each blog in blogs
            li.blog-menu__item
              a(href="#"+blog["href"]).blog-menu__link= blog["header"]

  .columns__right.columns__right_blog
    .blog
      .articles
        each blog in blogs
          article.article__content
            .articles__title
              .title.title_article
                h1
                  a(name=blog["href"] href="#"+blog["href"]).title__text.title__text_sub.title__text_dashed-false.title__text_padbot-0.title__text_ta-left.title__text_link-article=blog["header"]
            .articles__date
              .text.text_color-theme.text_opacity-70= blog["date"]
            .articles__text.markdown-body!= blog["content"]