extends _modal

block var-modal
  - var modal_mod = 'contactme'

block modal-header
  include ../common/reviews

block modal-center
  .contactme
    .contactme__toblur
      .blur
      .contactme__title
        +title("Связаться со мной", "width-100", ["sub"])
      .contactme__content
        form.form
          .form__data
            input(type="name" name="name" placeholder="Имя").form__input.text
            input(type="email" name="email" placeholder="Email").form__input.text
            textarea(name="message" rows="7" placeholder="Ваше сообщение").form__input.text
    .form__buttons
      input(type="submit" name="submit" value="Отправить").form__button
      input(type="reset" name="reset" value="Очистить").form__button

block modal-footer
  a(href="#").arrow
    svg.arrow__icon.arrow_up
      use(xlink:href="/assets/img/sprite.svg#portf_arrow_up")