extends _modal

block var-modal
  - var modal_mod = 'contactme'

block modal-header
  include ../common/reviews

block modal-center
  .contactme
    +title("Связаться со мной", "", ["sub"])
    .contactme__content
      form.contactme__form
        .contactme__form-data
          input(type="name" name="name" placeholder="Имя").contactme__input.text.text_color-input
          input(type="email" name="email" placeholder="Email").contactme__input.text.text_color-input
          textarea(name="message" rows="7" placeholder="Ваше сообщение").contactme__input.text.text_color-input
        .contactsme__buttons
          input(type="submit" name="submit" value="Отправить").contactme__submit
          input(type="reset" name="reset" value="Очистить").contactme__reset

block modal-footer
  a(href="#").arrow
    svg.arrow__icon
      use(xlink:href="/assets/img/sprite.svg#portf_arrow_up")