extends _modal

block var-modal
  - var modal_mod = 'hero'

block modal-header
  .hero__socials
      +socials(socials,'','')

  .hero__hamburger
    a(href="#").hamburger
      svg.hamburger__icon
        use(xlink:href="/assets/img/sprite.svg#hamburger")
block modal-bg
  .parallax-scroll.parallax-scroll_hero.parallax-scroll_1
block modal-center
  .hero__bg.parallax-scroll.parallax-scroll_2
  include user.pug

block modal-footer
  .hero__arrow.parallax-scroll.parallax-scroll_3
    a(href="#").arrow
      svg.arrow__icon
        use(xlink:href="/assets/img/sprite.svg#arrow_down")
