extends _modal

block var-modal
  - var modal_mod = 'hero'

block modal-header
  .hero__socials
      +socials(socials,'','')

  .hero__hamburger
    a(href="#").hamburger
      svg.hamburger__icon
        use(xlink:href="/assets/img/sprite.svg#hamburger")

block modal-center
  .hero__bg
  include user.pug

block modal-footer
  .hero__arrow
    a(href="#").arrow
      svg.arrow__icon
        use(xlink:href="/assets/img/sprite.svg#arrow_down")
