extends _modal

block var-modal
  - var modal_mod = 'hero'
  //- .hero__hamburger
  

block modal-header
  .hero__socials
      +socials(socials,'','')


block modal-bg
  .parallax-scroll.parallax-scroll_hero.parallax-scroll_1.preload
block modal-center
  .hero__bg.parallax-scroll.parallax-scroll_2.preload
  include user.pug

block modal-footer
  .hero__arrow.parallax-scroll.parallax-scroll_3
    a(href="#").arrow
      svg.arrow__icon
        use(xlink:href="/assets/img/sprite.svg#arrow_down")
