extend _user

block var-user
  - var user_mod = 'welcome';

block user-add
  .welcome__socials
    +socials(socials,'welcome','')

block user-footer
  .welcome__menu
    +menu(menu, 3, false, 'welcome')