-var works = [{"name": "Сайт школы онлайн образования", "tech": "HTML, CSS, JQUERY", "href":"#", "img":"/assets/img/works/work-1.png"},{"name":"itLoft", "tech":"PUG/HTML, SCSS, NODE.JS", "href": "#", "img":"/assets/img/works/work-2.png"}, {"name":"Портал видеоуроков и IT сообщество", "tech":"HTML, ES6, CSS3.0", "href": "#", "img":"/assets/img/works/work-3.png"},{"name":"ATMA YOGA","tech": "HTML, ANGULAR.JS, SCSS, PHP", "href": "#", "img":"/assets/img/works/work-4.png"}]

.works__title.works__title_main
  +title("Мои работы", "bg-works", ["main"])
  
.works__wrapper
  section.works
    .works__description
      .works__title
        +title("Сайт школы онлайн образования", "", ["sub"])
      .works__tech
        .text.text_ta-center.text_fw-medium.text_color-tech
          | HTML, CSS, JAVASCRIPT
      .works__href
        a(href="#").works__link.text
          svg.works__icon
            use(xlink:href="/assets/img/sprite.svg#link")
          | Посмотреть сайт


    .works__mainimage
      img(src="/assets/img/works/work-2.png").works__image
    .works__controls
      .works__control.works__control_up
        a(href="#").arrow.works__arrow
          svg.arrow__icon
            use(xlink:href="/assets/img/sprite.svg#portf_arrow_down")
      .works__control.works__control_down
        a(href="#").arrow.works__arrow
          svg.arrow__icon
            use(xlink:href="/assets/img/sprite.svg#portf_arrow_up")