-var works = [{"name": "Сайт школы онлайн образования", "tech": "HTML, CSS, JQUERY", "href":"#", "img":"/assets/img/works/work-1.png"},{"name":"itLoft", "tech":"PUG/HTML, SCSS, NODE.JS", "href": "#", "img":"/assets/img/works/work-2.png"}, {"name":"Портал видеоуроков и IT сообщество", "tech":"HTML, ES6, CSS3.0", "href": "#", "img":"/assets/img/works/work-3.png"},{"name":"ATMA YOGA","tech": "HTML, ANGULAR.JS, SCSS, PHP", "href": "#", "img":"/assets/img/works/work-4.png"}]

.works__title.works__title_main
  +title("Мои работы", "bg-works", ["main"])
  
.works__wrapper
  section.works
    .works__description
      ul.works__title
        each work, key in works
          li.works__title-item
            //-+title(work["name"], "", ["sub"])
            .title
              .title__text.title__text_sub
                .title__inner= work["name"]

      ul.works__tech
        each work, key in works
          li.works__tech-item.text.text_ta-center.text_fw-medium.text_color-tech= work["tech"]
      ul.works__href
        each work, key in works
          li.works__href-item
            a(href=work["href"]).works__link.text
              svg.works__icon
                use(xlink:href="/assets/img/sprite.svg#link")
              | Посмотреть сайт


    ul.works__mainimage
      each work, key in works
        li.works__mainimage-item
          img(src=work["img"]).works__image
    .works__controls
      .works__control-item
        each work, key in works
          div(style="background-image:url('"+work["img"]+"');").works__control.works__control_down.preload
        a(href="#").arrow.works__arrow.works__arrow_down
          svg.arrow__icon
            use(xlink:href="/assets/img/sprite.svg#portf_arrow_down")
      .works__control-item
        each work, key in works
          div(style="background-image:url('"+work["img"]+"');").works__control.works__control_up
        a(href="#").arrow.works__arrow.works__arrow_up
          svg.arrow__icon
            use(xlink:href="/assets/img/sprite.svg#portf_arrow_up")