section.section.columns.columns_about
  .columns__left.columns__left_about
    .about.about_2col
      .about__block.about__block_column-left
        +title("Обо мне","bg-about", ["main","padding-0"])
      .about__block.about__block_column-right
        img(src="/assets/img/about.jpg", alt="").about__img
        +title("Кто я","width-100", ["sub"])
        .text
          p Я веб разработчик из Белгорода. Мне 25 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!


  .columns__right.columns__right_about
    .about
      .about__block.about__block_title
        +title("Чем я могу быть Вам полезен","", ["sub"])
      .about__block.about__block_right
        .text
          p Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать несложные задачи на Backend. Но давайте по порядку.
      .about__block.about__block_right
        .skills
          ul.skills__list
            each skill, key in tech
              li.skills__item
                .skills__title
                  .text.text_fz-29.text_fw-medium= tech[key]["name"]
                .data-circles
                  ul.data-circles__list
                    each item, iter in tech[key]["items"]
                      li.data-circles__item
                        .data-circles__circle
                          +svgSkill (item, form[tech[key]["id"]][iter], 55, 20)