section.section.columns.columns_blog
  aside.columns__left.columns__left_blog
    .blog__menu
      .blog__swipe
      .blog-menu
        ul.blog-menu__list
          each blog in blogs
            li.blog-menu__item
              a(href="#"+blog["href"]).blog-menu__link= blog["header"]

  .columns__right.columns__right_blog
    .blog
      .articles
        each blog in blogs
          article.article__content
            .articles__title
              .title.title_article
                h1
                  a(name=blog["href"] href="#"+blog["href"]).title__text.title__text_sub.title__text_dashed-false.title__text_padbot-0.title__text_ta-left.title__text_link-article=blog["header"]
            .articles__date
              .text.text_color-theme.text_opacity-70= blog["date"]
            .articles__text.markdown-body!= blog["content"]