extends _modal

block var-modal
  - var modal_mod = 'contactme'

block modal-header
  include ../common/reviews

block modal-center
  .contactme
    .contactme__toblur
      .blur
      .contactme__title
        +title("Связаться со мной", "width-100", ["sub"])
      .contactme__content
        form(action="works" method="POST").form.form_contactme
          .form__data
            .form__section.form__section_row.form__section_row-input
              input(type="name" name="name" placeholder="Имя").form__input.text
            .form__section.form__section_row.form__section_row-input
              input(type="email" name="email" placeholder="Email").form__input.text
            .form__section.form__section_row.form__section_row-input
              textarea(name="message" rows="7" placeholder="Ваше сообщение").form__input.text
    .form__buttons
      input(type="submit" name="submit" value="Отправить").form__button.form__button_submit
      input(type="reset" name="reset" value="Очистить").form__button.form__button_reset

block modal-footer
  a(href="#").arrow.arrow_animate
    svg.arrow__icon.arrow__up
      use(xlink:href="/assets/img/sprite.svg#portf_arrow_up")