footer.footer
  .footer__section
    .footer__item.footer__item-left.footer__item-menu
      //-array menu, items count, highlight current page, modificator
      +menu(menu, menu.length, true, '')
    .footer__item.footer__item-right.footer__item-socials
      //-obj socials, modificator, svg # modificator 
      //-+socials(socials, 'footer', '_round')
      ul.socials
        each item, key in socials
          li(class="socials__item socials__item_footer")
            a(href=item class="socials__link socials__link_footer")
              svg(class="socials__icon socials__icon_footer")
                use(xlink:href="/assets/img/sprite.svg#"+key+"_round")
              svg(class="socials__icon socials__icon_footer-hover")
                use(xlink:href="/assets/img/sprite.svg#"+key+"_round-filled")

  .footer__section
    .footer__item.footer__item-left
      .text.text_color-white.text_opacity-50.text_fw-lighter.text_footer
        | Я веб-разработчик из Белгорода, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool
    .footer__item.footer__item-right.footer__item-copyright
      .text.text_color-white.text_opacity-50.text_fw-lighter.text_footer
        | © Кирилл Вишенков | создано с любовью в LoftSchool | 2017