extends _modal

block var-modal
  - var modal_mod = 'map'

block modal-bg
  //- div.mapkit
  //-   iframe(src="//mapkit.io/embed/74k3f6" frameborder="0").mapkit__content
  .googlemap

block modal-center
  .contacts
    .contacts__title
      +title("Контакты", "width-100", ["sub"])
    .contacts__content
      ul.contacts__list
        each value, key in contacts
          li.contacts__item
            div(class="contacts__icon contacts__icon_"+key)
            .contacts__desc
              .text.text_fw-medium= value