extends _modal

block var-modal
  - var modal_mod = 'welcome'

block modal-bg
  ul.parallax
    li(data-depth=0.9).layer.layer__1.preload
    li(data-depth=0.5).layer.layer__2.preload
    li(data-depth=0.6).layer.layer__3.preload
    li(data-depth=0.7).layer.layer__4.preload
    li(data-depth=0.5).layer.layer__5.preload
    li(data-depth=0.3).layer.layer__6.preload
    li(data-depth=0.25).layer.layer__7.preload
    li(data-depth=0.1).layer.layer__8.preload
    li(data-depth=0.1).layer.layer__9.preload
    li(data-depth=0).layer.layer__10.preload

block modal-header
  .welcome__button
    .button
      button.button__link.button__link_flipper
        | Авторизоваться

block modal-center
  .welcome
    .flipper
      .flipper__side.flipper__side_front.flipper__side_active
        include user-welcome.pug
      .flipper__side.flipper__side_back
        include login-welcome.pug

block modal-footer
  footer.footer.footer_index.text.text_color-white.text_opacity-50.text_fw-lighter
    | © Кирилл Вишенков | создано с любовью в LoftSchool | 2017