extends ../_base-page

block variables
  - var content_mod = 'blog'

block header
  include ../common/header-blog

block traingle-left
  +traingle('left', 'triangle_fill-blog')
block traingle-right
  +traingle('right', 'triangle_fill-blog')

block page-content
  include ../common/blog-content

block footer
  include ../common/footer