extends ../_base-page

block variables
  - var title = 'Обо мне'

block header
  include ../common/hero

block traingle-left
  +traingle('left', 'triangle_fill-white')
block traingle-right
  +traingle('right', 'triangle_fill-beige')

block page-content
  include ../common/about-content.pug

block dialog
  include ../common/map.pug

block footer
  include ../common/footer