extends ../_template

block variables
  - var title = 'Главная'

block content
  include ../common/welcome

block footer
  footer.footer.footer_index.text.text_footer
    | © Кирилл Вишенков | создано с любовью в LoftSchool | 2017