extends ../_base-page

block variables
  - var title = 'Мои работы'

block header
  include ../common/hero

block traingle-left
  +traingle('left', 'triangle_fill-white')
block traingle-right
  +traingle('right', 'triangle_fill-white')

block page-content
  include ../common/works-content

block dialog
  include ../common/contactme

block footer
  include ../common/footer